<div class="row justify-content-center mb-5">
    <div class="col-sm-12">
        <div class="box blog-code-wrapper">
            <pre class="line-numbers"><code class="language-{{ block.codeType }}">{{ block.code }}</code></pre>
            {% if block.caption |length %}
                <aside class="code-caption">
                    <h5><i class="fa fa-code"></i> {{ block.caption }}</h5>
                </aside>
            {% endif %}
        </div>
    </div>
</div>
