// Buttons
// --------------------------------------------------

.btn {
  margin-bottom: 1rem;
  border-width: $btn-outline-weight;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-md-inline {
  @include media-breakpoint-up(sm) {
    display:inline;
    width: auto;
  }
}

.btn-outline-default {
  background-color: transparent;
  background-image: none;
}

.btn-warning {
  color: $btn-text-color;
  &:hover {
    color: $btn-text-color;
  }
}

.btn-outline-warning {
  color: $warning;
  &:hover {
    color: $btn-text-color;
  }
}

// Primary Content Button Overrides
// --------------------------------------------------
.primary-content {
  .btn-default {
    background-color: $secondary;
    color: $primary;
    &:hover {
      color: $primary;
      background-color: darken($secondary, 7.5%);
    }
  }
  .btn-outline-default {
    color: $secondary;
    border-color: $secondary;
    &:hover {
      color: $white;
      border-color: $white;
    }
  }
}

// Secondary Content Button Overrides
// --------------------------------------------------
.secondary-content {
  .btn-default {
    background-color: $tertiary;
    color: $white;
    &:hover {
      color: $white;
      background-color: darken($tertiary, 7.5%);
    }
  }
  .btn-outline-default {
    color: $tertiary;
    border-color: $tertiary;
    &:hover {
      color: $white;
      border-color: $white;
    }
  }
}

// Tertiary Content Button Overrides
// --------------------------------------------------
.tertiary-content {
  .btn-default {
    background-color: $secondary;
    color: $white;
    &:hover {
      color: $white;
      background-color: darken($secondary, 7.5%);
    }
  }
  .btn-outline-default {
    color: $secondary;
    border-color: $secondary;
    &:hover {
      color: $white;
      border-color: $white;
    }
  }
}

// Main Content Button Overrides
// --------------------------------------------------
.main-content {
  .btn-default {
    background-color: $primary;
    color: $white;
    &:hover {
      color: $white;
      background-color: darken($primary, 7.5%);
    }
  }
  .btn-outline-default {
    color: $primary;
    border-color: $primary;
    &:hover {
      color: $btn-text-color;
      background-color: $primary;
    }
  }
}

// Alt Content Button Overrides
// --------------------------------------------------
.alt-content {
  .btn-default {
    background-color: $primary;
    color: $white;
    &:hover {
      color: $white;
      background-color: darken($primary, 7.5%);
    }
  }
  .btn-outline-default {
    color: $primary;
    border-color: $primary;
    &:hover {
      color: $btn-text-color;
      background-color: $primary;
    }
  }
}

// BG Image Dark Overlay Button Overrides
// --------------------------------------------------
.bg-image-dark-overlay {
  .btn-default {
    background-color: $secondary;
    color: $white;
    &:hover {
      color: $white;
      background-color: darken($secondary, 7.5%);
    }
  }
  .btn-outline-default {
    color: $secondary;
    border-color: $secondary;
    &:hover {
      color: $white;
      border-color: $white;
    }
  }
}

// BG Image Light Overlay Button Overrides
// --------------------------------------------------
.bg-image-light-overlay {
  .btn-default {
    background-color: $secondary;
    color: $white;
    &:hover {
      color: $white;
      background-color: darken($secondary, 7.5%);
    }
  }

  .btn-outline-default {
    color: $secondary;
    border-color: $secondary;
    &:hover {
      color: $white;
      border-color: $white;
    }
  }
}
