// Buttons
// --------------------------------------------------

.btn {
  margin-bottom: 1rem;
  border-width: $btn-outline-weight;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-md-inline {
  @include media-breakpoint-up(sm) {
    display: inline;
    width: auto;
  }
}
