// Forms
// --------------------------------------------------


.primary-content {

}

.secondary-content {

}

.tertiary-content {

}

.main-content {

}

.alt-content {
  .form {
    input {
      background-color: $light;
    }

    textarea {
      background-color: $light;
    }

    select {
      background-color: $light;
    }
  }
}
