// Layout
// --------------------------------------------------

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.section {
  padding: $section-padding 0;
}

.last-section {
  padding: $section-padding 0 6rem;
}

.full-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  height: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.pad-none-vert {
  padding-top: 0;
  padding-bottom: 0;
}

.pad-xl-vert {
  @extend .pt-5;
  @extend .pb-5;
}

.pad-lg-vert {
  @extend .pt-4;
  @extend .pb-4;
}

.pad-md-vert {
  @extend .pt-3;
  @extend .pb-3;
}

.pad-sm-vert {
  @extend .pt-2;
  @extend .pb-2;
}

.pad-xs-vert {
  @extend .pt-1;
  @extend .pb-1;
}

.heading-wrap {
  z-index: 2;
  background-color: $primary;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: $white;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center center;
  @include media-breakpoint-up(md) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  h1.heading {
    color: $white;
  }
  &:after {
    z-index: -1;
    position: absolute;
    background: linear-gradient(to bottom, rgba($primary, 100), transparent);
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
  }
}

// Generate background color classes. Ex.) .bg-primary
@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: $value;
  }
}

// Primary Content
// --------------------------------------------------
.primary-content {
  background-color: $primary;
  color: $white;
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
  p > a,
  p > em > a,
  p > strong > a,
  li > a,
  .link {
    color: $secondary;
    &:hover {
      color: scale-color($secondary, $lightness: -15%);
    }
  }
  hr {
    color: $white;
  }
  blockquote {
    border-color: $secondary;
  }

  .heading {
    &::after {
      background-color: $white;
    }
  }
}

// Secondary Content
// --------------------------------------------------
.secondary-content {
  background-color: $secondary;
  color: $white;
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
  p > a,
  p > em > a,
  p > strong > a,
  li > a,
  .link {
    color: $tertiary;
    &:hover {
      color: scale-color($tertiary, $lightness: -15%);
    }
  }
  hr {
    border-color: $white;
  }
  blockquote {
    border-color: $tertiary;
  }
  .heading {
    &::after {
      background-color: $white;
    }
  }

}

// Tertiary Content
// --------------------------------------------------
.tertiary-content {
  background-color: $tertiary;
  color: $white;
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
  p > a,
  p > em > a,
  p > strong > a,
  li > a,
  .link {
    color: $secondary;
    &:hover {
      color: scale-color($secondary, $lightness: -15%);
    }
  }
  hr {
    color: $white;
  }
  blockquote {
    border-color: $secondary;
  }
  .heading {
    &::after {
      background-color: $white;
    }
  }
}


// Main Content
// --------------------------------------------------
.main-content {
  background-color: $white;
  h1, h2, h3, h4, h5, h6 {
    color: $primary;
  }
  p > a,
  p > em > a,
  p > strong > a,
  li > a,
  .link {
    color: $secondary;

    &:hover {
      color: scale-color($secondary, $lightness: -15%);
    }
  }
  hr {
    background-color: $primary;
  }
  blockquote {
    border-color: $primary;
  }
  .heading {
    &::after {
      background-color: $primary;
    }
  }
}

// Alt Content
// --------------------------------------------------
.alt-content {
  background-color: $light-gray;
  h1, h2, h3, h4, h5, h6 {
    color: $primary;
  }
  p > a,
  p > em > a,
  p > strong > a,
  li > a,
  .link {
    color: $secondary;
    &:hover {
      color: scale-color($secondary, $lightness: -15%);
    }
  }
  hr {
    background-color: $primary;
  }
  blockquote {
    border-color: $primary;
  }
  .heading {
    &::after {
      background-color: $primary;
    }
  }
}

.contact-info {
  list-style-type: none;
  margin-left: 0;
}

.bg-image-dark-overlay {
  z-index: 2;
  position: relative;
  background-size: cover;
  background-position: center center;
  color: $white;
  &::before {
    z-index: -1;
    position: absolute;
    background: fade-out($black, 0.5);
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
  p > a,
  p > em > a,
  p > strong > a,
  li > a,
  .link {
    color: $secondary;
    &:hover {
      color: scale-color($secondary, $lightness: -15%);
    }
  }
  hr {
    border-color: $white;
  }
  blockquote {
    border-color: $secondary;
  }
  .heading {
    &::after {
      background-color: $white;
    }
  }
}

.bg-image-light-overlay {
  z-index: 2;
  position: relative;
  background-size: cover;
  background-position: center center;
  &::before {
    z-index: -1;
    position: absolute;
    background: fade-out($white, 0.4);
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $primary;
  }
  p > a,
  p > em > a,
  p > strong > a,
  li > a,
  .link {
    color: $secondary;
    &:hover {
      color: scale-color($secondary, $lightness: -15%);
    }
  }
  blockquote {
    border-color: $secondary;
  }
  .heading {
    &::after {
      background-color: $primary;
    }
  }
}

.error-section {
  background-size: cover, cover;
  background-color: $primary;
  color: $white;
  h1, h2, h3, h4 {
    color: $white;
  }
  p > a,
  p > em > a,
  p > strong > a,
  li > a,
  .link {
    color: $secondary;
    &:hover {
      color: $white;
    }
  }
}
