// Layout
// --------------------------------------------------

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.section {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.last-section {
  margin-bottom: -100px;
  padding: $section-padding 0 8rem !important;
}

.full-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  height: 100vh;
  display: flex;
  align-items: center;
}

.section-triangle {
  position: relative;

  .section-triangle-color {
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 0;
    z-index: 99;
    border-style: solid;
    margin-left: -20px;
    border-width: 20px 20px 0 20px;
    border-color: $light-gray transparent transparent transparent;
  }
}

.pad-xl-vert {
  @extend .pt-5;
  @extend .pb-5;
}

.pad-lg-vert {
  @extend .pt-4;
  @extend .pb-4;
}

.pad-md-vert {
  @extend .pt-3;
  @extend .pb-3;
}

.pad-sm-vert {
  @extend .pt-2;
  @extend .pb-2;
}

.pad-xs-vert {
  @extend .pt-1;
  @extend .pb-1;
}

.heading-wrap {
  z-index: 2;
  background-color: $primary;
  background-image: url('../img/grad-bg.svg');
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: $white;
  text-align: center;
  position: relative;
  background-size: cover;
  //background-position: center center;
  @include media-breakpoint-up(md) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  h1.heading {
    color: $white;
  }

  &:after {
    z-index: -1;
    position: absolute;
    background-color: $primary;
    //background: linear-gradient(to bottom, rgba($primary, 100), transparent);
    content: '';
    height: 100%;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
  }
}

// Generate background color classes. Ex.) .bg-primary
@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: $value;
  }
}


//Quick Color Guide content-styles($bg-color, $heading-color, $text-color, $link-color, $btn-color, $accent-color)

.main-content {
  @include content-styles($light, $primary, $dark, $secondary, $primary, $primary);
}

.alt-content {
  @include content-styles($light-gray, $primary, $dark, $secondary, $primary, $primary);
}

.primary-content {
  @include content-styles($primary, $light, $light, $secondary, $secondary, $light);
}

.secondary-content {
  @include content-styles($secondary, $primary, $dark, $tertiary, $tertiary, $tertiary);
}

.tertiary-content {
  @include content-styles($tertiary, $light, $light, $secondary, $secondary, $secondary);
}

.quaternary-content {
  @include content-styles($quaternary, $light, $light, $primary, $primary, $primary);
}

.light-content {
  @include content-styles($light, $primary, $dark, $secondary, $secondary, $primary);
}

.dark-content {
  @include content-styles($dark, $light, $light, $secondary, $secondary, $quaternary);
}

// Background Image Sections
// --------------------------------------------------
// Quick Guide bg-content-styles($bg-overlay-color)
.bg-image-dark-overlay {
  @include bg-overlay-content-styles($dark);
  @include content-styles($dark, $light, $light, $secondary, $secondary, $quaternary);
}

.bg-image-light-overlay {
  @include bg-overlay-content-styles($light);
  @include content-styles($light, $dark, $dark, $secondary, $secondary, $primary);
}
