// About Page
// --------------------------------------------------

.bio-content {
  @include media-breakpoint-up(md) {
    background-color: $tertiary;
    color: $white;
  }

  h1, h2, h3, h4, h5, h6 {
    @include media-breakpoint-up(md) {

      color: $white;
    }
  }
  p > a,
  .link {
    @include media-breakpoint-up(md) {
      color: $secondary;
    }
    &:hover {
      @include media-breakpoint-up(md) {
        color: scale-color($secondary, $lightness: -15%);
      }

    }
  }
  hr {
    &:hover {
      @include media-breakpoint-up(md) {
        color: $white;
      }

    }
    blockquote {
      @include media-breakpoint-up(md) {
        border-color: $secondary;
      }
    }

  }
  .heading {
    &::after {
      @include media-breakpoint-up(md) {
        background-color: $white;
      }
    }
  }
}