// Home Page
// --------------------------------------------------

.hero-bg {
  @extend %hero-bg;
}

.hero-content {
  position: relative;
  background-color: $primary;
  height: 60vh;
  display: flex;
  align-items: center;
  overflow: hidden;

  .hero-content-text {
    font-size: 2.1rem;
    font-weight: bold;
    color: $white;
    max-width: 850px;
    padding: 1rem;
    z-index: 500;
    @include media-breakpoint-down(sm) {
      font-size: 1.5rem;
    }
  }
}

.alert {
  margin-bottom: 0;
  text-align: center;
}

.quote {
  font-size: 1.6rem;
  font-style: italic;
}

