
// Colors
$primary:       #0b4061 !default;
$secondary:     #cae094 !default;
$tertiary:      #a0d39d !default;
$quaternary:    #6eb58f !default;
$light:         #e6e6e6 !default;
$dark:          #4c4c4d !default;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #4c4c4d;
$black: #222;
$white: #fefefe;

// Fonts
$font-family-heading: 'Montserrat', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!default;
$font-family-base: 'Montserrat', "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// Body Element
//$body-bg:                     $white !default;
//$body-color:                $primary !default;


// Links
//$link-color:                theme-color("primary") !default;
//$link-decoration:           none !default;
//$link-hover-color:          darken($link-color, 15%) !default;
//$link-hover-decoration:     underline !default;
