// Fonts - Athletes Unlimited
// --------------------------------------------------

@font-face {
  font-family: 'kenyan_coffee';
  src: url('../fonts/kenyan_coffee-webfont.woff2') format('woff2'),
  url('../fonts/kenyan_coffee-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}