// Footer - Athletes Unlimited
// --------------------------------------------------

.footer {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 1rem;
  color: $white;
  background: linear-gradient(to right, $tertiary, $primary);
  a {
    color: $white;
  }
  .social-default {
    text-align: right;
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
    li {
      display: inline-block;
      margin-right: 1rem;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }

  }
}

.copyright {
  font-size: .875rem;
  @include media-breakpoint-down(sm) {
    order: 2;
    text-align: center;
  }
  a {
    &:hover {
      color: $secondary;
    }
  }
}