// Footer

.social {
  list-style-type: none;
  margin: 1rem 0 0;
  padding-left: 0;
  text-align: center;
  @include media-breakpoint-up(md) {
    margin-top: 0;
    text-align: right;
  }
  li {
    display: inline;
    margin-right: .5rem;
    font-size: 1.8rem;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    a {
      text-decoration: none;
      &:hover {
        color: $secondary;
      }
    }
  }
}

.footer {
  padding: 1rem 0;
  background-color: $gray-800;
  color: $white;
  flex-shrink: 0;
  a {
    color: $white;
    &:hover {
      color: $gray-100;
    }
  }
}

.copyright {
  font-size: .875rem;
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
}
