// Header
// --------------------------------------------------

header {
  background: $primary;
  color: $light;

  a {
    color: $light;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      color: $secondary;
    }
  }

  .logo {
    width: 225px;
    @include media-breakpoint-up(md) {
      width: 300px;
    }
  }
}

$header-height: 120px;
$nav-transition: all .4s ease-in-out;
.header {
  background-color: $light;

  .logo {
    align-items: center;

    img {
      height: $header-height - 10;
      padding-top: 5px;
      padding-bottom: 5px;
      @include media-breakpoint-up(md) {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  .navigation {
    text-align: right;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      display: hidden;
    }

    ul {
      margin: 0;
      padding-left: 0;
      transition: $nav-transition;

      li {
        display: inline-block;
        list-style-type: none;
        @include media-breakpoint-down(sm) {
          display: none;
        }

        a {
          font-size: 1.2rem;
          transition: $nav-transition;
          text-decoration: none;
          @include media-breakpoint-up(md) {
            margin: $header-height / 2 1rem .5rem;
            padding-bottom: .25rem;
            color: $dark;
          }

          &:hover {
            @include media-breakpoint-up(md) {
              color: $secondary;
            }
          }

          &.active {
            @include media-breakpoint-up(md) {
              color: $dark;
              border-bottom: 4px solid $secondary;
            }
            color: $secondary;
          }
        }

        &:last-child {
          a {
            @include media-breakpoint-up(md) {
              margin-right: 0;
            }
          }
        }
      }
    }

    .open {
      align-items: center;
      background-color: rgba($primary, .9);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      top: 0;
      left: 0;
      list-style-type: none;
      overflow: hidden;
      position: fixed;
      height: 100vh;
      width: 100vw;
      z-index: 9000;
      @include media-breakpoint-up(md) {
        background: none;
      }

      li {
        display: block;
        font-size: 2rem;
        margin: 0;
        text-align: center;
        width: 100%;

        a {
          color: $white;
        }
      }
    }
  }
}

$icon-size: 30px;
$icon-bar-size: 3px;
$icon-color: $dark;
$icon-color--hover: $light;
.menu-icon {
  display: none;
  @include media-breakpoint-down(sm) {
    cursor: pointer;
    display: block;
    margin: -10px 0 0 0;
    padding: 0;
    position: absolute;
    right: 1rem;
    transition: $nav-transition;
    height: $icon-size;
    width: $icon-size;
    z-index: 9001;
  }

  span {
    background: $icon-color;
    display: block;
    height: $icon-bar-size;
    left: 0;
    position: absolute;
    right: 0;
    transition: $nav-transition;

    &::before,
    &::after {
      background-color: $icon-color;
      content: '';
      display: block;
      height: $icon-bar-size;
      left: 0;
      position: absolute;
      transition: $nav-transition;
      width: 100%;
    }

    &::before {
      top: $icon-size / 3;
    }

    &::after {
      bottom: -20px;
    }
  }

  &--open {
    position: fixed;

    span {
      background: none;
      transition: $nav-transition;
      margin-top: 10px;

      &::before {
        background-color: $icon-color--hover;
        top: 0;
        transform: rotateZ(45deg);
        transition: $nav-transition;
      }

      &::after {
        background-color: $icon-color--hover;
        bottom: 0;
        transform: rotateZ(-45deg);
        transition: $nav-transition;
      }
    }
  }
}