// Master Styles
// --------------------------------------------------

.heading-content {
  background-color: $white;

  .heading-section {
    margin-bottom: 0;
  }
}

hr {
  border: 1.5px solid;
  color: $primary;
}


.login-content {
  background-color: $white;
  width: 100vw;
  height: 100vh;

  a {
    color: $primary;

    &:hover {
      color: scale-color($primary, $lightness: 15%);
    }
  }

  .login-image {
    text-align: center;
    margin-bottom: 1rem;

    img {
      max-width: 250px;
      max-height: 250px;
    }
  }
}

.spotlight-img {
  width: 40%;
}

.team-img {
  width: 50%;
  border-radius: 50%;
  @include media-breakpoint-only(sm) {
    width: 80%;
  }
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

.contact-info {
  list-style-type: none;
  margin-left: 0;
}
